<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Profile</ion-title>
      </ion-navbar>

</ion-header>

<ion-content>

  <ion-card *ngFor="let dp of profilePicture | async">
    <ion-card-header>
      {{ dp.created | date:'medium' }}
    </ion-card-header>

    <ion-card-content>

      <button ion-button block icon-left outline (click)="viewDP(dp.url)">
        <ion-icon name="eye"></ion-icon>
        {{ dp.fullPath }}
      </button>

      <button ion-button block outline icon-left color="danger" (click)="deleteProfilePicture(dp)">
        <ion-icon name="trash"></ion-icon> Delete
      </button>

    </ion-card-content>

  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addDP()">
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
  </ion-fab>

</ion-content>




<!--ion-content padding>
  <div id="profile">
    <div class="profile_details" *ngFor='let user of users'>
      <ion-card>
        <ion-card-content>
          <div class="pro_pic" <a href = "{{user.profilepic}}}"></a>></div>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          div class="username">{{user.name}}</div>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <div class="group">{{user.group}}</div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content-->
<!--ion-content padding>
    <ion-list>
        <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
          <ion-icon [name]="item.icon" item-start></ion-icon>
          {{item.title}}
          <div class="item-note" item-end>
            {{item.note}}
          </div>
        </button>
      </ion-list>
      <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title}}</b>
      </div>
</ion-content-->

