.ios, .md {

page-leaderboard{
        .scroll-content {
      background-color: #73FF72;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
        #cloud-layer {
      background-image: url(../assets/imgs/green-background.jpg);
      background-size: cover;
      width: 100%;
      height: 100%;
    }
 .username{
 	width: 80%;
    float: left;
 }
 
 .user{
 	 width: 5%;
     float: right;
 }

 .personwin{
     background-color: rgb(255, 217, 2);
     color: rgb(241, 139, 4);
 }
}
}
