.ios, .md {

page-leaderboard{
// .ion-scroll {
//     white-space: nowrap;
//     height: 500px;
// }
        .scroll-content {
      background-color: #73FF72;
     // background-image: url(../assets/imgs/green-background.jpg);
      display: flex;
      flex-direction: column;
      //overflow-y: auto;
      overflow: hidden;
    }
        #cloud-layer {
      background-image: url(../assets/imgs/green-background.jpg);
      background-size:cover;
      width: 100%;
      height: 100%;
    }
 .username{
 	width: 80%;
    float: left;
 }
 
 .user{
 	 width: 5%;
     float: right;
 }

 .personwin{
     background-color: rgb(255, 230, 2);
     color: rgb(241, 139, 4);
 }
 .silver{
     background-color: rgb(245, 126, 16);
     color: rgb(241, 111, 4);
 }
 .bronce{
     background-color: rgb(87, 87, 87);
     color: rgb(49, 48, 59);
 }
}
}
